<!doctype  html>

    <html  lang="en">
        
        <head>
            <link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
            <title>Base</title>
        </head>
        <body>
            <div  class="container">
                <div  class="row justify-content-center">
                    <h1  class="text-center" style=background-color:#EF82A7;font-family:monospace;>TinDev</h1><br>
                </div>
                {% block main %}
                {% endblock %}
            </div>
        </body>
    </html>