{% extends  'tindev/base.html' %}

{% load crispy_forms_tags %}

{% block main %}
    <div class="card">
        <br>
        <div class="card-body">
        
            <h3 class="card-title" style=text-align:center;>Log in to TinDev</h3>

            <form method="post">
                {% csrf_token %}
                <div class="container" style=text-align:center;>
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>
                    <br>
                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                    <br>
                </div>

                {% if error %}
                    <p style="color:red; text-align: center">Invalid username or password</p>
                {% endif %}

                <input type="hidden" name="next" value="{{ next }}">

                {{ form|crispy }}
                <br>
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </form>
            
            <br>
            <p class="text-center">Don't have an account? <br>
                <a href="/recruiterprofile">Create a Recruiter Profile</a> <br>
                <a href="/candidateprofile">Create a Candidate Profile</a> <br>
            </p>
        </div>
    </div>
{% endblock %}