{% extends  'tindev/base.html' %}

{% block main %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Recruiter Dashboard</title>

        <!-- Add Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    </head>
	<body>

        <div class="container">
            <div class="row" style=background-color:#E47EA1;>
                <br>
                <h1 style=background-color:#E47EA1;text-align:center>Recruiter Dashboard</h1>
                <br>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">          
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item-active">
                          <a class="nav-link" href="/candidatedashboard">Candidate Dashboard</a>
                        </li>
                        </li>
                        <li class="nav-item-active">
                          <a class="nav-link" href="/recruiterdashboard">Recruiter Dashboard</a>
                        </li>
                      </ul>
                      {% if user.is_authenticated %}
                        <li class="form-inline my-2 my-lg-0 nav-item active ml-auto">
                          <a class="nav-link" href="/logout">Logout</a>
                        </li>
                      {% else %}
                        <li class="form-inline my-2 my-lg-0 nav-item active ml-auto">
                          <a class="nav-link" href="/login">Login</a>
                        </li>
                      {% endif %}
                </nav>
            </div>
            <br>


            {% if user.is_authenticated %}
                <p style=background-color:#E47EA1;text-align:center>You are logged in as: {{request.user.username}}</p>
            
                <a href="/createpost">
                  <button style=width:250px;text-align:center;justify-content:center>
                      Create a post
                  </button>  
                </a> 

                <h3>Job postings</h3>
                {% if jobPosts %} <ul>
                  {% for post in jobPosts %}
                    <li><a href="/tindev/{{ post.position_title }}/">
                      {{ post.position_title }} by <i> {{post.company}} </i> at {{post.location}} </a></li>
                  {% endfor %} </ul>
                {% else %}
                  <p>No posts are available right now.</p>
            {% endif %}
            
            {% else %}
              <p style=background-color:#E47EA1;text-align:center>You are not logged in.</p>
            {% endif %}
    
        </div>

		<!-- Import's Bootstrap JS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
	</body>

	</html>

{% endblock %}