{% extends  'tindev/base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Recruiter Dashboard</title>

        <!-- Add Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    </head>
	<body>

        <div class="container">
            {% if request.session.logged_user %}
              <p style=background-color:#E47EA1;text-align:center>You are logged in as: {{request.session.logged_user}}</p>
            {% else %}
              <p style=background-color:#E47EA1;text-align:center>You are not logged in.</p>
            {% endif %}
            <div class="row" style=background-color:#E47EA1;>
                <br>
                <h1 style=background-color:#E47EA1;text-align:center>Recruiter Dashboard</h1>
                <br>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">          
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        </li>
                        <li class="nav-item-active">
                          <a class="nav-link" href="/recruiterdashboard">Recruiter Dashboard</a>
                        </li>
                      </ul>
                      {% if request.session.logged_user %}
                        <li class="form-inline my-2 my-lg-0 nav-item active ml-auto">
                          <a class="nav-link" href="/logout">Logout</a>
                        </li>
                      {% else %}
                        <li class="form-inline my-2 my-lg-0 nav-item active ml-auto">
                          <a class="nav-link" href="/login">Login</a>
                        </li>
                      {% endif %}
                </nav>
            </div>
            <br>

          
            {% if request.session.logged_user %}
            
                <a href="/createpost">
                  <button style=width:250px;text-align:center;justify-content:center>
                      Create a post
                  </button>  
                </a> 

                <br>
                <br>

                <h3>{{request.session.logged_user}}'s Posted Jobs</h3>

                <br>
                
                <form method="POST" action="{{ views.recruiterDashboard }}" enctype="multipart/form-data">

                  {% csrf_token %}
                  {{ form|crispy }}

                  <select name="search" id="search" onchange="this.form.submit()" >
                    <option value="all-posts"  >All Posts</option>
                    <option value="active-posts" >Active Posts</option>
                    <option value="inactive-posts" >Inactive Posts</option>
                    <option value="interested-candidates-posts" >Have Interests</option>
                  </select>
                </form>


                <p>You're searching for: {{ searchTerm }}</p>

                <div class="postSearch">

                {% if searchTerm == 'interested-candidates-posts' %}

                {% for key, value in jobPosts.items %}
                <li>
                  <a href="/{{ post.id }}/r">{{ value.position_title }} by <i> {{value.company}} </i> at {{value.location}} </a> - <a href="/{{ value.id }}/change">[EDIT POST]</a> - <a href="/{{ value.id }}/delete">[DELETE POST]</a> - <a href="/{{ value.id }}/makeOffer">[MAKE OFFER]</a>
                </li>
                {% endfor %}

                  
                {% else %}
                  {% if jobPosts %} <ul>
                    {% for post in jobPosts %}
                      <li><a href="/{{ post.id }}/r">
                        {{ post.position_title }} by <i> {{post.company}} </i> at {{post.location}} </a> - <a href="/{{ post.id }}/change">[EDIT POST]</a> - <a href="/{{ post.id }}/delete">[DELETE POST]</a> - <a href="/{{ post.id }}/makeOffer">[MAKE OFFER]</a></li>
                    {% endfor %} </ul>
                  {% else %}
                    <p>No posts are available right now.</p>
                  {% endif %}
                {% endif %}
            
            {% else %}
              <p style=background-color:#E47EA1;text-align:center>You are not logged in.</p>
            {% endif %}
            </div>
    
        </div>

		<!-- Import's Bootstrap JS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
	</body>

	</html>

{% endblock %}